/* Fonts start */
@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('fonts/AvenirNextRoundedStd-Italic.eot');
  src: local('Avenir Next Rounded Std Italic'),
    local('AvenirNextRoundedStd-Italic'),
    url('fonts/AvenirNextRoundedStd-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/AvenirNextRoundedStd-Italic.woff2') format('woff2'),
    url('fonts/AvenirNextRoundedStd-Italic.woff') format('woff'),
    url('fonts/AvenirNextRoundedStd-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('fonts/AvenirNextRoundedStd-BoldIt.eot');
  src: local('Avenir Next Rounded Std Bold Italic'),
    local('AvenirNextRoundedStd-BoldIt'),
    url('fonts/AvenirNextRoundedStd-BoldIt.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/AvenirNextRoundedStd-BoldIt.woff2') format('woff2'),
    url('fonts/AvenirNextRoundedStd-BoldIt.woff') format('woff'),
    url('fonts/AvenirNextRoundedStd-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('fonts/AvenirNextRoundedStd-Reg.eot');
  src: local('Avenir Next Rounded Std Regular'),
    local('AvenirNextRoundedStd-Reg'),
    url('fonts/AvenirNextRoundedStd-Reg.eot?#iefix') format('embedded-opentype'),
    url('fonts/AvenirNextRoundedStd-Reg.woff2') format('woff2'),
    url('fonts/AvenirNextRoundedStd-Reg.woff') format('woff'),
    url('fonts/AvenirNextRoundedStd-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('fonts/AvenirNextRoundedStd-Med.eot');
  src: local('Avenir Next Rounded Std Medium'),
    local('AvenirNextRoundedStd-Med'),
    url('fonts/AvenirNextRoundedStd-Med.eot?#iefix') format('embedded-opentype'),
    url('fonts/AvenirNextRoundedStd-Med.woff2') format('woff2'),
    url('fonts/AvenirNextRoundedStd-Med.woff') format('woff'),
    url('fonts/AvenirNextRoundedStd-Med.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('fonts/AvenirNextRoundedStd-DemiIt.eot');
  src: local('Avenir Next Rounded Std Demi Italic'),
    local('AvenirNextRoundedStd-DemiIt'),
    url('fonts/AvenirNextRoundedStd-DemiIt.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/AvenirNextRoundedStd-DemiIt.woff2') format('woff2'),
    url('fonts/AvenirNextRoundedStd-DemiIt.woff') format('woff'),
    url('fonts/AvenirNextRoundedStd-DemiIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('fonts/AvenirNextRoundedStd-MedIt.eot');
  src: local('Avenir Next Rounded Std Medium Italic'),
    local('AvenirNextRoundedStd-MedIt'),
    url('fonts/AvenirNextRoundedStd-MedIt.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/AvenirNextRoundedStd-MedIt.woff2') format('woff2'),
    url('fonts/AvenirNextRoundedStd-MedIt.woff') format('woff'),
    url('fonts/AvenirNextRoundedStd-MedIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('fonts/AvenirNextRoundedStd-Demi.eot');
  src: local('Avenir Next Rounded Std Demi'), local('AvenirNextRoundedStd-Demi'),
    url('fonts/AvenirNextRoundedStd-Demi.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/AvenirNextRoundedStd-Demi.woff2') format('woff2'),
    url('fonts/AvenirNextRoundedStd-Demi.woff') format('woff'),
    url('fonts/AvenirNextRoundedStd-Demi.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('fonts/AvenirNextRoundedStd-Bold.eot');
  src: local('Avenir Next Rounded Std Bold'), local('AvenirNextRoundedStd-Bold'),
    url('fonts/AvenirNextRoundedStd-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/AvenirNextRoundedStd-Bold.woff2') format('woff2'),
    url('fonts/AvenirNextRoundedStd-Bold.woff') format('woff'),
    url('fonts/AvenirNextRoundedStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* Fonts end */

/* Variables start */
:root {
  --color-black: #1a1f29;
  --color-page-background: #fff;
  --color-disabled-1: #cccccc;
  --color-disabled-2: #929499;
  --color-primary: #171c8f;
  --color-tertiary-1: #5e626b;

  --mobile-size: 241px;
  --tablet-size: 480px;
  --laptop-size: 768px;
  --desktop-small-size: 1024px;
  --desktop-medium-size: 1200px;
  --desktop-large-size: 1440px;
}
/* Variables end */

/* Base start */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.1;
  color: var(--color-black);
  text-align: left;
  background-color: var(--color-page-background);

  font-family: 'Avenir Next Rounded Std', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
/* Base end */

/* header start */

.header {
  border-bottom: 1px solid var(--color-disabled-1);
}

.header__block {
  width: 100%;
  max-width: var(--desktop-large-size);
  margin: 0 auto;
  padding: 0 56px;

  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .header__block {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
  }
}

.header__main-nav {
  flex-shrink: 0;
}

.main-nav__list {
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
@media (min-width: 1024px) {
  .main-nav__list {
  }
}

.main-nav__list-item {
  padding: 34px 8px;
  margin-right: 20px;
}

.main-nav__link {
  text-decoration: none;
  font-family: 'Avenir Next Rounded Std';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-black);
  padding-bottom: 8px;
  letter-spacing: 0.01em;
}

.main-nav__link--active {
  border-bottom: 1px solid var(--color-black);
}

.header__logo {
  padding: 24px 0;
  order: -1;

  justify-self: center;
}
@media (min-width: 1024px) {
  .header__logo {
    order: 0;
  }
}

.logo__link {
  display: block;
}

.logo__image {
  width: 100%;
  max-width: 139px;
}

@media (min-width: 1024px) {
  .logo__image {
    width: 139px;
  }
}

.header__user-nav {
  flex-shrink: 0;
}

.user-nav__list {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
}

@media (min-width: 1024px) {
  .user-nav__list {
  }
}

.user-nav__list-item {
}
@media (min-width: 1024px) {
  .user-nav__list-item {
    padding: 34px 8px;
    margin-left: 20px;
  }
}

.user-nav__link {
  text-decoration: none;
  font-family: 'Avenir Next Rounded Std';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-black);
  padding-bottom: 8px;
  letter-spacing: 0.01em;
}

/* header end */

/* aside start */

.aside {
  width: 100%;
  max-width: var(--desktop-large-size);
  margin: 0 auto;
}

.breadcrumbs {
  margin: 16px 0;
}

@media (min-width: 1024px) {
  .breadcrumbs {
    margin: 16px 56px;
  }
}

.breadcrumbs__list {
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.breadcrumbs__list-item {
  color: var(--color-disabled-2);
  font-size: 12px;
  line-height: 15px;

  padding: 4px;
}

.breadcrumbs__list-item:last-child::after {
  content: none;
}

.breadcrumbs__link {
  color: var(--color-black);
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
}

.breadcrumbs__link::after {
  color: var(--color-disabled-2);

  content: '/';
  margin-left: 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.breadcrumbs__link::after:focus {
  outline: none;
}

/* aside end */

/* main start */

.main {
  width: 100%;
  max-width: var(--desktop-large-size);
  margin: 0 auto;
  padding: 16px 0;
}

.product {
  padding: 0 136px 0 104px;
}

.product__main-block {
}

@media (min-width: 1024px) {
  .product__main-block {
    display: grid;
    grid-template-columns: 7fr 4fr;
    gap: 70px;
  }
}

.product__gallery {
}
@media (min-width: 1024px) {
  .product__gallery {
  }
}

.product__image {
  display: block;
  width: 100%;
  max-width: 473px;
  margin: 0 auto;
}

.product__info-block {
  width: 100%;
  padding-left: 2px;
}

.product__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  letter-spacing: 0.01em;
}

.product__price {
  font-size: 20px;
  line-height: 25px;

  letter-spacing: 0.01em;
  margin: 24px 0;
}

.product__tax {
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.01em;
  color: var(--color-tertiary-1);
}

.product__desctiption {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  margin: 22px 0;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .product__desctiption {
    margin: 22px 22px 22px 0;
  }
}

.product__form {
  margin: 48px 0 24px 0;
}

.product-form {
  margin-bottom: 46px;
}

.product-form__fieldset {
  margin: 24px 0;
  border: none;
}

.product-form__legend {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: var(--color-black);
}

.product-form__legend--ls {
  letter-spacing: 1px;
}

.product-form__radio-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.radio-block__container {
  display: flex;
  position: relative;

  margin-right: 12px;
}

.radio-block__input {
  appearance: none;
}

.radio-block__label {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid var(--color-disabled-1);
  text-transform: uppercase;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;

  cursor: pointer;
}

.radio-block__input:checked ~ .radio-block__label {
  border: 1px solid var(--color-black);
}

.radio-block__input:disabled ~ .radio-block__label {
  border: none;
  background: #f2f2f2;
  color: #bdbdbd;
  cursor: default;
}

.radio-block__input:disabled ~ .radio-block__label::after {
  width: 55px;
  height: 1px;
  content: '';

  position: absolute;
  background-color: var(--color-disabled-1);
  transform: rotate(-45deg);
}

.radio-block__label--color {
  color: transparent;
  font-size: 0;
}

.label__color-block {
  position: absolute;
  inset: 2px;
}

.label__color-block--white {
  border: 1px solid var(--color-disabled-1);
}

.label__color-block--black {
  background: var(--color-black);
}

.label__color-block--dark-gray {
  background: #aeaeb0;
}

.label__color-block--dark-gray {
  background: #aeaeb0;
}

.label__color-block--purple-latte {
  background: #ba9be5;
}

.label__color-block--mauvelous {
  background: #e9a0a7;
}

.label__color-block--apricot {
  background: #f8cab1;
}

.label__title {
}

.radio-block__label--color:hover > .label__title {
  position: absolute;
  top: -16px;
  left: 30px;
  width: auto;
  background-color: #fff;
  z-index: 1;
  text-transform: capitalize;
  padding: 3px 4px;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-tertiary-1);
  white-space: nowrap;
  border: 1px solid #ccc;
}

.product-form__number-input-block {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.product-form__button {
  display: inline-block;

  color: var(--color-tertiary-1);
  text-transform: uppercase;

  border: 1px solid var(--color-disabled-1);
  background-color: #fff;

  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.16em;

  padding: 15px 32px;

  cursor: pointer;

  font-family: 'Avenir Next Rounded Std';
  font-style: normal;
  font-weight: 400;
}

.product-form__button--small {
  font-size: 18px;
  line-height: 18px;
  padding: 9px 0;
  min-width: 40px;
  letter-spacing: normal;
}

.product-form__button--submit {
  margin-top: 11px;
  background-color: var(--color-primary);
  color: var(--color-page-background);
}

.product-form__number-input {
  font-family: 'Avenir Next Rounded Std';
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  -moz-appearance: textfield;
  padding: 9px 0;
  border-radius: 0;
  border: none;
  border-top: 1px solid var(--color-disabled-1);
  border-bottom: 1px solid var(--color-disabled-1);
  text-align: center;
  max-width: 40px;

  font-size: 18px;
  line-height: 18px;
}

.product-form__number-input::-webkit-inner-spin-button,
.product-form__number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-form__order-button-block {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

/* main end */

/* footer start */

.footer {
  border-top: 1px solid var(--color-disabled-1);
}

.footer__block {
  width: 100%;
  max-width: var(--desktop-large-size);
  margin: 0 auto;
  padding: 81px 88px;
}

@media (min-width: 1024px) {
  .footer__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.footer-block {
}

@media (min-width: 1024px) {
  .footer-block {
    margin-right: 156px;
  }
}

.footer-block__heading {
  font-family: 'Avenir Next Rounded Std';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--color-black);
  margin-bottom: 30px;
}

.footer-block__text {
  margin: 16px 0;
  letter-spacing: 1px;
}

.footer-block__links-list {
  list-style: none;
}

.footer-block__links-list-item {
  margin: 16px 0;
}

.footer-block__link {
  color: var(--color-tertiary-1);
  text-decoration: none;

  font-family: 'Avenir Next Rounded Std';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  letter-spacing: 1px;
}

.footer-block__logo-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  padding: 2.5px;
}
/* footer end */

/* other start */

.skiplink {
  position: absolute;
  top: -200px;
  left: 2px;
  transition: top 0.2s;
  color: inherit;
  background-color: #fff;
  padding: 5px 10px;
}
.skiplink:focus {
  top: 20px;
}

/* other end */
