/* Fonts start */
@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('fonts/AvenirNextRoundedStd-Reg.eot');
  src: local('Avenir Next Rounded Std Regular'),
    local('AvenirNextRoundedStd-Reg'),
    url('fonts/AvenirNextRoundedStd-Reg.eot?#iefix') format('embedded-opentype'),
    url('fonts/AvenirNextRoundedStd-Reg.woff2') format('woff2'),
    url('fonts/AvenirNextRoundedStd-Reg.woff') format('woff'),
    url('fonts/AvenirNextRoundedStd-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Rounded Std';
  src: url('fonts/AvenirNextRoundedStd-Bold.eot');
  src: local('Avenir Next Rounded Std Bold'), local('AvenirNextRoundedStd-Bold'),
    url('fonts/AvenirNextRoundedStd-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/AvenirNextRoundedStd-Bold.woff2') format('woff2'),
    url('fonts/AvenirNextRoundedStd-Bold.woff') format('woff'),
    url('fonts/AvenirNextRoundedStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* Fonts end */

/* Variables start */
:root {
  --color-black: #1a1f29;
  --color-white: #fff;
  --color-disabled-1: #cccccc;
  --color-disabled-2: #929499;
  --color-primary: #171c8f;
  --color-tertiary-1: #5e626b;

  --mobile-size: 241px;
  --tablet-size: 480px;
  --laptop-size: 768px;
  --desktop-small-size: 1024px;
  --desktop-medium-size: 1200px;
  --desktop-large-size: 1440px;
}
/* Variables end */

/* Base start */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.1;
  color: var(--color-black);
  text-align: left;
  background-color: var(--color-white);

  font-family: 'Avenir Next Rounded Std', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
/* Base end */

/* header start */

.header {
  border-bottom: 1px solid var(--color-disabled-1);
}

.header__block {
  width: 100%;
  max-width: var(--desktop-large-size);
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1024px) {
  .header__block {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
  }
}

@media (min-width: 1200px) {
  .header__block {
    padding: 0 56px;
  }
}

.header__menu {
  flex-shrink: 0;
}

.header-menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 241px) {
  .header-menu__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .header__menu--user-nav .header-menu__list {
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
}

.header-menu__list-item {
  margin-right: 10px;
}
@media (min-width: 1024px) {
  .header-menu__list-item {
    padding: 34px 8px;
    margin-right: 20px;
  }
}

.header-menu__list-item:last-child {
  margin-right: 0;
}

.header-menu__link {
  position: relative;
  text-decoration: none;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-black);
  padding-bottom: 8px;
  letter-spacing: 0.01em;

  outline: none;
}

.header-menu__link:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}

.header-menu__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 1px;
  background: var(--color-black);
  transition: transform 0.3s ease;
  transform: scale(0, 0);
}

.header-menu__link:hover::after {
  transform: scale(1, 1);
}

.header__logo {
  padding: 24px 0;
  order: -1;

  justify-self: center;
}
@media (min-width: 1024px) {
  .header__logo {
    order: 0;
  }
}

.logo__link {
  display: block;
  outline: none;
}

.logo__link:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}

.logo__image {
  width: 100%;
  max-width: 139px;
}

@media (min-width: 1024px) {
  .logo__image {
    width: 139px;
  }
}

/* header end */

/* aside start */

.aside {
  width: 100%;
  max-width: var(--desktop-large-size);
  margin: 0 auto;
}

.breadcrumbs {
  margin: 16px;
}

@media (min-width: 1200px) {
  .breadcrumbs {
    margin: 16px 56px;
  }
}

.breadcrumbs__list {
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs__list-item {
  padding: 4px 0 4px 4px;
  color: var(--color-disabled-2);
  font-size: 12px;
  line-height: 1.25;
}

.breadcrumbs__list-item::after {
  position: static;
  content: '/';
  margin-left: 7px;
  margin-right: 4px;

  color: var(--color-disabled-2);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}
.breadcrumbs__list-item:last-child::after {
  content: none;
}

.breadcrumbs__link {
  color: var(--color-black);
  font-size: 12px;
  line-height: 1.25;
  text-decoration: none;
}

/* aside end */

/* main start */

.main {
  max-width: var(--desktop-large-size);
  margin: 0 auto;
}

.product {
  padding: 16px;
}

@media (min-width: 1024px) {
  .product {
    padding: 16px 0;
  }
}

.product__block {
}

@media (min-width: 1024px) {
  .product__block {
    display: grid;
    grid-template-columns: 7fr 4fr;
    gap: 70px;

    padding: 0 136px 0 104px;
  }
}

.product__gallery {
}
@media (min-width: 1024px) {
  .product__gallery {
    padding-right: 15px;
  }
}

.product__image {
  display: block;
  width: 100%;
  max-width: 473px;
  margin: 0 auto;
}

.product__info-block {
}
@media (min-width: 1024px) {
  .product__info-block {
    width: 100%;
    padding-left: 2px;
  }
}

.product__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;

  letter-spacing: 0.01em;

  margin-top: 20px;
}

@media (min-width: 1024px) {
  .product__heading {
    margin-top: 0;
  }
}

.product__price {
  font-size: 20px;
  line-height: 1.25;

  letter-spacing: 0.01em;
  margin: 24px 0;
}

.product__tax {
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.01em;
  color: var(--color-tertiary-1);
}

.product__desctiption {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.01em;
  margin: 22px 0;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .product__desctiption {
    margin: 22px 22px 22px 0;
  }
}

.product__form {
  margin: 48px 0 46px 0;
}

.product-form {
}

.product-form__fieldset {
  margin: 24px 0;
  border: none;
}

.product-form__legend {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--color-black);
}

.product-form__legend--ls {
  letter-spacing: 1px;
}

.product-form__radio-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.radio-block__container {
  display: flex;
  position: relative;

  margin-right: 12px;
}

.radio-block__input {
  appearance: none;
}

.radio-block__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #fff;
  border: 1px solid var(--color-disabled-1);
  text-transform: uppercase;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;

  cursor: pointer;
}

@media (min-width: 1024px) {
  .radio-block__label {
    width: 40px;
    height: 40px;
  }
}

.radio-block__label:hover {
  border: 1px solid var(--color-primary);
}

.radio-block__input:checked ~ .radio-block__label {
  border: 1px solid var(--color-black);
}

.radio-block__input:disabled ~ .radio-block__label {
  border: none;
  background: #f2f2f2;
  color: #bdbdbd;
  cursor: default;
}

.radio-block__input:disabled ~ .radio-block__label::after {
  width: 55px;
  height: 1px;
  content: '';

  position: absolute;
  background-color: var(--color-disabled-1);
  transform: rotate(-45deg);
}

.radio-block__label--color {
  color: transparent;
  font-size: 0;
}

.label__color-block {
  position: absolute;
  inset: 2px;
}

.label__color-block--white {
  border: 1px solid var(--color-disabled-1);
}

.label__color-block--black {
  background: var(--color-black);
}

.label__color-block--dark-gray {
  background: #aeaeb0;
}

.label__color-block--dark-gray {
  background: #aeaeb0;
}

.label__color-block--purple-latte {
  background: #ba9be5;
}

.label__color-block--mauvelous {
  background: #e9a0a7;
}

.label__color-block--apricot {
  background: #f8cab1;
}

.label__title {
}

.radio-block__label--color:hover > .label__title {
  position: absolute;
  top: -16px;
  left: 30px;
  width: auto;
  background-color: #fff;
  z-index: 1;
  text-transform: capitalize;
  padding: 3px 4px;
  font-size: 13px;
  line-height: 1.23;
  color: var(--color-tertiary-1);
  white-space: nowrap;
  border: 1px solid #ccc;
}

.product-form__number-input-block {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.product-form__button {
  display: inline-block;

  color: var(--color-tertiary-1);
  text-transform: uppercase;

  border: 1px solid var(--color-disabled-1);
  background-color: #fff;

  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.16em;

  padding: 15px 32px;

  cursor: pointer;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;

  transition: background-color 0.25s ease;
}

.product-form__button:hover {
  background-color: var(--color-disabled-1);
  border: 1px solid var(--color-primary);
  color: var(--color-black);
}

.product-form__button:active {
  background-color: var(--color-disabled-2);
}

.product-form__button--small {
  font-size: 18px;
  line-height: 1;
  padding: 9px 0;
  min-width: 40px;
  letter-spacing: normal;
}

.product-form__button--submit {
  margin-top: 11px;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.product-form__number-input {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  -moz-appearance: textfield;
  padding: 9px 0;
  border-radius: 0;
  border: none;
  border-top: 1px solid var(--color-disabled-1);
  border-bottom: 1px solid var(--color-disabled-1);
  text-align: center;
  max-width: 40px;

  font-size: 18px;
  line-height: 1;
}

.product-form__number-input::-webkit-inner-spin-button,
.product-form__number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-form__order-button-block {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

/* Accordion start */

.product__accordion {
  margin-top: 26px;
}

.product-accordion {
}

.product-accordion__block {
  border-top: 1px solid var(--color-disabled-1);

  border-left: none;
}

.product-accordion__block:last-child {
  border-bottom: 1px solid var(--color-disabled-1);
}

.product-accordion__heading {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.01em;

  margin: 32px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.product-accordion__button {
  font: inherit;
  display: block;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background-color: transparent;
  cursor: inherit;
}

.product-accordion__button-icon-block {
  position: relative;
  width: 12px;
  height: 12px;
}

.product-accordion__button-icon {
  position: absolute;
  height: 1px;
  width: 12px;
  background-color: var(--color-black);
  z-index: 1;
  top: 5.5px;
}

.product-accordion__button-icon::after {
  position: absolute;
  width: 1px;
  height: 12px;
  left: 5.5px;
  top: -5.5px;
  content: '';
  z-index: 2;
  background-color: var(--color-black);

  transform: none;
}

.product-accordion__button--open
  ~ .product-accordion__button-icon-block
  > .product-accordion__button-icon::after {
  transform: rotate(90deg);
}

.product-accordion__text {
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-black);

  letter-spacing: 0.01em;
  margin-bottom: 40px;
}

.product-accordion__text--open {
}

.product-accordion__text--close {
  display: none;
}

/* Accordion end */

.article__footer {
  margin-top: 40px;
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .article__footer {
    margin-top: 100px;
    margin-top: 98px;
    margin-bottom: 90px;
  }
}

.more-goods {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

.more-goods__block-heading {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;

  letter-spacing: 0.01em;
  color: var(--color-primary);
}

.more-goods__list {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 480px) {
  .more-goods__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 64px;
  }
}

@media (min-width: 1024px) {
  .more-goods__list {
    margin-top: 64px;
  }
}

.more-goods__list-item {
  margin-top: 40px;
}
@media (min-width: 1024px) {
  .more-goods__list-item {
    margin-top: 0;
  }
}

.more-goods__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--color-black);
  outline: none;
}
.more-goods__link:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}

.more-goods__link:focus-visible .more-goods__image,
.more-goods__link:hover .more-goods__image {
  transform: scale(1.02, 1.02);
}

.more-goods__image {
  display: block;
  width: 100%;
  max-width: 248px;
  margin: 0 auto;

  transition: all 0.3s ease;
}

.more-goods__heading {
  font-size: 16px;
  line-height: 1.25;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

.more-goods__colors-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
  list-style: none;
}

.more-goods__color {
  font-size: 0;
  color: transparent;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  margin-right: 4px;
}

.more-goods__color:last-child {
  margin-right: 0;
}

.more-goods__color--raw-sienna {
  background-color: #c88252;
}

.more-goods__color--apricot {
  background-color: #f8cab1;
}

.more-goods__color--mauvelous {
  background-color: #e9a0a7;
}

.more-goods__color--bright-lavender {
  background-color: #ba9be5;
}

.more-goods__sold {
  position: absolute;
  top: 8px;
  left: 12px;
  background-color: #fff;
  color: var(--color-tertiary-1);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  padding: 3px 5px 4px 5px;
}

.more-goods__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-top: 8px;
}

/* main end */

/* footer start */

.footer {
  border-top: 1px solid var(--color-disabled-1);
}

.footer__block {
  width: 100%;
  max-width: var(--desktop-large-size);
  margin: 0 auto;
  padding: 16px;
}

@media (min-width: 1024px) {
  .footer__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 156px;

    padding: 81px 88px 33px 88px;
  }
}

.footer-block__heading {
  margin-top: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--color-black);
}

@media (min-width: 1024px) {
  .footer-block__heading {
    margin-top: 0;
  }
}

.footer-block__text {
  margin-top: 10px;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 2;
}

@media (min-width: 1024px) {
  .footer-block__text {
    margin-top: 24px;
  }
}

.footer-block__links-list {
  margin-top: 10px;
  list-style: none;
}

@media (min-width: 1024px) {
  .footer-block__links-list {
    margin-top: 24px;
  }
}

.footer-block__links-list-item {
}

.footer-block__link {
  color: var(--color-tertiary-1);
  text-decoration: none;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;

  letter-spacing: 1px;

  transition: color 0.3s ease;
  outline: none;
}

.footer-block__link:hover {
  color: var(--color-black);
  text-decoration: underline;
}

.footer-block__link:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}

.footer-block__link--icon {
  display: inline-block;
  margin-right: 10px;
  margin-top: 16px;
  line-height: 1;
}

.footer-block__link--icon:hover {
  text-decoration: none;
}

.footer-block__social-icon {
  width: 24px;
  height: 24px;

  padding: 2.5px;
}

.footer__copyright-block {
  width: 100%;
  max-width: var(--desktop-large-size);
  margin: 0 auto;
  padding: 60px 88px 33px 88px;
}

.footer__copyright {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-tertiary-1);
}

@media (min-width: 1024px) {
  .footer__copyright {
    text-align: left;
  }
}

/* footer end */

/* other start */

.skiplink {
  position: absolute;
  top: -200px;
  left: 2px;
  transition: top 0.2s;
  color: inherit;
  background-color: #fff;
  padding: 5px 10px;
}
.skiplink:focus {
  top: 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
}

/* other end */
